langchain
langchain-core
langchain-community
langgraph
streamlit

langchain-google-genai
google-generativeai
langchain-groq
sentence-transformers



langchain-tavily
tavily-python

beautifulsoup4
requests
lxml

python-dotenv

pydantic

typing-extensions

faiss-cpu